{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>
            Analiza wydajności środowisk wspierających tworzenie bazodanowych aplikacji internetowych na platformie PHP
        </h1>
        <h1>
            Środowisko:
            <strong>
                <a href="http://symfony.com">
                    Symfony
                </a>
            </strong>
        </h1>
    </div>

    <div>
        <article>
            <p>
                Przykładowe testy bazy danych
            </p>
            <p>
                <a href="/products">
                    Wszystkie produkty
                </a>
            </p>
            <p>
                <strong>
                    <a href="/products/{{ pid }}">
                        Losowy produkt
                    </a>
                </strong>
            </p>
            <p>
                <a href="/clients">
                    Wszyscy użytkownicy
                </a>
            </p>
            <p>
                <strong>
                    <a href="/clients/{{ cid }}">
                        Losowy użytkownik
                    </a>
                </strong>
            </p>
            <p>
                <a href="/orders">
                    Wszystkie zamówienia
                </a>
            </p>
            <p>
                <strong>
                    <a href="/orders/{{ oid }}">
                        Losowe zamówienie
                    </a>
                </strong>
            </p>
            <p>
                <a href="/orders/status/2">
                    Przetwarzane zamówienia
                </a>
            </p>
            <p>
                <strong>
                    <a href="/orders/status/4">
                        Zakończone zamówienia
                    </a>
                </strong>
            </p>
        </article>
        <article>
            <h1>
                Losowy produkt
            </h1>
            <h1>
                {{ product.name }} -
                <a href="/products/{{ product.id }}">
                    szczegóły
                </a>
            </h1>
            <p>
            </p>
        </article>
    </div>
{% endblock %}