{% extends 'base.html.twig' %}

{% block body %}
    <script>
        let renderStart = new Date().getTime();
        window.onload=function() {
            let elapsed = new Date().getTime()-renderStart;
            document.cookie = "time=" + elapsed
            location.href = '/orders/' + (Math.floor(Math.random() * 100)+1)
        }
    </script>
    <div>
        <h1>
            Szczegóły zamówienia #{{ order.id }}
        </h1>
        {% if order == null %}
            <article>
                <h1>
                    Brak zamówienia w bazie
                </h1>
            </article>
        {% else %}
            <article>
                <h1>
                    Dane klienta
                </h1>
                <p>
                    <a href="/clients/{{ order.client }}">
                        {{ client.name }} {{ client.surname }}
                    </a>
                    , identyfikator #{{ order.client }}
                </p>
                <p>
                    Adres:
                    <strong>
                        {{ client.address }}
                    </strong>
                </p>
                <p>
                    Do zapłaty:
                    <strong>
                        {{ order.sumtotal }} zł
                    </strong>
                </p>
                <p>
                    Status zamówienia:
                    <strong>
                        <a href="/orders/status/{{ order.status }}">
                            {{ status.code }}
                        </a>
                    </strong>
                    - {{ status.description }}
                </p>
            </article>
            <h1>
                Produkty
            </h1>
            {% for key, product in products %}
                <article>
                    <h1>
                        <a href="/products/{{ product.id }}">
                            {{ product.name }}
                        </a>
                    </h1>
                    <p>
                        Producent:
                        <strong>
                            {{ product.manufacturer }}
                        </strong>
                    </p>
                    <p>
                        Cena: {{ product.price }} zł
                    </p>
                </article>
            {% else %}
                <h3>
                    Zamówienie jest puste
                </h3>
            {% endfor %}
        {% endif %}
        <h3>
            <a href="/orders">
                Powrót
            </a>
        </h3>
    </div>
{% endblock %}
